VONDIC_CLIENT_ID=your_client_id
VONDIC_CLIENT_SECRET=your_client_secret
VONDIC_REDIRECT_URI=http://127.0.0.1:5055/auth/callback
VONDIC_AUTHORIZE_URL=https://vondic.knopusmedia.ru/oauth/authorize
VONDIC_TOKEN_URL=https://vondic.knopusmedia.ru/oauth/token
VONDIC_USERINFO_URL=https://vondic.knopusmedia.ru/oauth/userinfo
FLASK_SECRET_KEY=change_me_for_local_dev
