.venv/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz

*.db

uv.lock

.env.webrtc
.env.backend
.env.bot

.ruff_cache/

instance/

api_docs.json

migrations/

.env

static/uploads/

node_modules/

.next/

dist/
dist-ssr/
*.local
_billing.tsx

logs/
*.log

desktop/

*.rdb

botiksdk.egg-info/