.venv/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz

*.db

uv.lock

.env.webrtc
.env.backend
.env.bot

.ruff_cache/

instance/

api_docs.json

migrations/

.env

static/uploads/

node_modules/

.next/

dist/
dist-ssr/
*.local
_billing.tsx

logs/
*.log

*.rdb

botiksdk.egg-info/

backup.sql

dist/

build/

run.py

*.crt
*.key

mail/.env
mail/data/
mail/config/ssl/cert.pem
mail/config/ssl/key.pem
!mail/data/.gitkeep
!mail/config/
!mail/config/ssl/
!mail/config/ssl/.gitkeep

mail/

Dockerfile*
nginx/
*.yaml
prometheus.yml
pgbouncer/

strip_comments_and_format_pep8.sh

*.dump

docker-entrypoint.sh

.qwen/

nginx-static/

qwen_free_cli/

docker-compose.yml

mail_listener.py

free-qwen-api/

android/
ios/

fcm-service-account.json

.env.desktop