.venv/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz

*.db

uv.lock

.env.webrtc
.env.backend
.env.bot

.ruff_cache/

instance/

api_docs.json

migrations/

.env

static/uploads/

node_modules/

.next/

dist/
dist-ssr/
*.local
_billing.tsx

logs/
*.log

*.rdb

botiksdk.egg-info/

backup.sql

dist/

desktop/

build/

run.py

*.crt
*.key

Dockerfile*
nginx/
*.yaml
prometheus.yml
pgbouncer/
