aiogram
bcrypt
python-dotenv
flask
flask-sqlalchemy
flask-migrate
flask-marshmallow
marshmallow-sqlalchemy
flask-cors
flask-caching
redis
email-validator
werkzeug
Flask-Mail
requests==2.32.5
urllib3==2.2.3
charset-normalizer==3.3.2
chardet==5.2.0
flasgger
flask-socketio
eventlet
cryptography
stripe
pytz
psycopg2-binary
asyncpg
user-agents
openai-whisper
safetext
nudenetv2
pika
