FLASK_APP=run.py
FLASK_DEBUG=

SECRET_KEY=
DATABASE_URL=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_SSLMODE=

REDIS_URL=
CACHE_DEFAULT_TIMEOUT=300
RABBITMQ_URL=

MAIL_SERVER=
MAIL_PORT=
MAIL_USE_TLS=
MAIL_USE_SSL=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_REDIRECT_URI=
YANDEX_SMARTCAPTCHA_SERVER_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=

OLLAMA_API_URL=
OLLAMA_MODEL=

STATIC_NGINX_URL=http://static-nginx:80
UPLOADS_DIR=/app/uploads
