SECRET_KEY=01661431cb3fd3e91000826fab76d42b
DEBUG=True

HOST=0.0.0.0
PORT=5000

# CORS configuration
CORS_ALLOWED_ORIGINS=https://vondic.ru,https://api.vondic.ru,https://webrtc.vondic.ru,https://in.api.vondic.ru,https://in.webrtc.vondic.ru,https://call.vondic.ru
FRONTEND_URL=https://vondic.ru

POSTGRES_HOST=pgbouncer
POSTGRES_PORT=6432
POSTGRES_DB=vondic
POSTGRES_USER=postgres
POSTGRES_PASSWORD=4566212
POSTGRES_SSLMODE=disable

NOVU_API_URL=http://novu-api:3000
NOVU_API_KEY=768198a3cdcdfcca98e75d31ab9a6a96

# Web Push VAPID keys
VAPID_PRIVATE_KEY=ZgiAe9mf4fmMp_Suy_ZQjj0CZVys5zRsFex25DllvTo
VAPID_PUBLIC_KEY=BIe-Z2GMAZp05xBkGysdmolFc7jczvXIQJcGDVfkWkyY-P1XJnJoTcyOzW00-z6AvlleA7wxFXa8B-f_RHI5pBk
